
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

// Color Palette
$darkRed:  #740001;
$red: #AE0001;
$yellow: #EEBA30;
$darkYellow: #D3A625;
$black: #000000;
$grey: #777;

@font-face {
  font-family: 'lumos';
  src: url('../fonts/Lumos.ttf');
}

@font-face {
  font-family: 'harry';
  src: url('../fonts/ParryHotter.ttf')
}

@font-face {
  font-family: 'champagne';
  src: url('../fonts/Champagne & Limousines.ttf')
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body{
  background-image: url('../images/main-bg.jpg');
  background-size: cover;
}

.form-control, .btn{
  font-family: 'champagne';
}

.btn{
  display: block;
  margin-left: auto;
  background-color: $red;
  border: 1px solid $darkRed;
  color: white;
}

.btn:hover{
  background-color: $darkRed;
  border: 1px solid darken($darkRed, 10%);
  color: white;
}

.main-header{
  text-align: center;
  margin-top: 100px;
  font-family: 'harry';
  color: $yellow;
  text-shadow:
    -3px -3px 0 $darkRed,
    3px -3px 0 $darkRed,
    -3px 3px 0 $darkRed,
    3px 3px 0 $darkRed;
  font-size: 75px;
}

.username-login-container{
  width: 100%;
  margin-top: 100px;

  #username-input{
    width: 100%;
    margin-bottom: 15px;
    background-color: lighten($yellow, 30%);
  }

  // button:hover{
  //   background-color: $darkRed;
  //   border: 1px solid darken($darkRed, 10%);
  //   color: white;
  // }
}

.user-info-container{
  height: 100%;
  .user-avatar{
    display: block;
    height: 250px;
    margin-top: 15px;
    border-radius: 8px;
    
  }
  .username-main{
    font-family: 'harry';
    font-size: 40px;
    color: $darkRed;
    text-shadow:
    -1px -1px 0 $yellow,
    1px -1px 0 $yellow,
    -1px 1px 0 $yellow,
    1px 1px 0 $yellow;
  }
}

.message-container{
  background-color: rgba(250, 233, 189, .4)
}

.message{
  // border-bottom: 2px solid #333;
  padding: 8px;

  .message-avatar{
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 4px;
  }
  .message-username{
    color: $darkRed;
    text-shadow:
      -1px -1px 0 $yellow,
      1px -1px 0 $yellow,
      -1px 1px 0 $yellow,
      1px 1px 0 $yellow;
    margin-left: 8px;
    font-family: 'harry';
  }
  .message-time-stamp{
    color: white;
    margin-left: 8px;
    margin-right: 15px;
    font-family: 'champagne';
  }
  .message-content{
    font-family: 'champagne';
    color: white;
    font-size: 20px;
    background-color: $darkRed;
    padding: 12px 8px;
    margin: 10px;
    border-radius: 5px;
  }
}

.me{
  text-align: right;
  .message-content{
    background-color: $darkYellow;
    color: $darkRed;
    text-align: right;
  }
}
